@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Poppins', sans-serif;

$font-nav: 'Poppins', sans-serif;
$font-btn: 'Poppins', sans-serif;
