@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Tenor+Sans&display=swap');

$font-primary: 'Tenor Sans', sans-serif;
$font-secondary: 'Lato', sans-serif;

$font-nav: 'Lato', sans-serif;
$font-btn: 'Lato', sans-serif;