@import '../../scss/settings/mixins';
@import '../../scss/settings/colors';

.header {
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.75rem;
  background-color: $header-bgc;
  top: 0%;
  left: 0%;
  right: 0%;
  position: sticky;

  @media screen and (max-width: 992px) {
    padding: 0.75rem;
  }

  .container__header {
    width: 100%;
    max-width: 90rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo {

    .img__logo {
      margin: 0;
      width: 120px;
    }
  }

  .wrapper__nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    @media screen and (max-width: 992px) {
      flex-direction: row;
    }

    &--contact {
      .btn__main {
        @include btn__main;
      }
      @media screen and (max-width: 992px) {
        display: none;
      }
    }
  }

  .wrapper__btns--nav {
    display: flex;
    gap: 1.25rem;

    @media screen and (max-width: 992px) {
      gap: 0.625rem;
    }

    .btn__secondary {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  .navigation {
    display: flex;

    ul.nav-list {
      list-style: none;
      display: flex;
      padding: 0;
      align-items: center;

      li.nav__item {
        @include nav__link;
      }
    }

    &.open {
      ul.nav-list {
        display: block;
        border-top: 1px solid #dde7fa;
      }
    }

    .menu-toggle {
      flex-direction: column;
      cursor: pointer;
      padding: 10px;

      .bar {
        width: 25px;
        height: 3px;
        background-color: #000;
        margin: 2px 0;
        transition: transform 0.3s;
      }

      &.open {
        display: flex;

        .bar:nth-child(1) {
          transform: rotate(45deg) translate(3px, 7px);
        }

        .bar:nth-child(2) {
          opacity: 0;
        }

        .bar:nth-child(3) {
          transform: rotate(-45deg) translate(3px, -7px);
        }
      }
    }

    @media (max-width: 991px) {
      .menu-toggle {
        display: flex;
      }

      ul.nav-list {
        display: none;
        list-style: none;
        padding: 0.75rem;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;

        &.open {
          display: block;
          width: 100%;

          @media screen and (max-width: 992px) {
            display: flex;
            align-content: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
          }
        }

        li.nav-item {
          margin: 0.625rem 0;

          a {
            color: #000;
            font-weight: bold;

            &:hover {
              color: #000;
            }
          }
        }
      }
    }
  }
}
