@import "settings/reset";
@import "settings/colors";
@import "settings/fonts";
@import "settings/mixins";

@import "../components/header/header";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  background-color: $bgc;
  font-size: 1rem;
  line-height: 1.5;
  font-family: $font-primary;
}

section {
  width: 100%;
  color: $white-color;
  text-align: center;
}
.container {
  width: 100%;
  max-width: 90rem;
  margin: auto;
}
